#  The LightCurve class

##  Background
#### What kind of physical data are we representing and what do these quantities mean?

Astrophysical variable sources including transients like supernovae are sources that are (roughly) fixed in position but change appreciably at human time scales, such that their measurements at different points of time in a survey are expected to be different. The key science of such sources has to do with interpreting such data.

In a photometric or imaging survey, the raw data associated with such measurements is in the form of a time series of images, along with metadata. This is often extracted into a catalog summarizing the inferred brightness of the source in the filter band and the uncertainties of the inferred. The uncertainties in this process are dominated by the sky noise which is Poisson distributed to a good approximation. Hence, the format of this recorded data is usually of the form

`timestamp`, `flux`, `flux uncertainty`, `zero point`, `magnitude system`

Note that the `flux` is really the band flux obtained in a filter band

The `zero point`, and `magnitude system` are methods of specifying the units of the reported `flux`, and `flux uncertainty`. `flux` may be reported so that the following equation with `bandflux` and `std_bandflux` in the same physical units holds. The `std_bandflux` depends on the transmissions and the magnitude system used.

bandmag := -2.5 log10(bandflux / std_bandflux) = -2.5 log10(flux) + zero point

so that a zero point of zero, implies that `flux` is `bandflux` in units of `std_bandflux`

## Desired Functionality

the `LightCurve` class is meant to be a standard internal representation of this kind of catalog data in our software. This means that 
- given a different format/model of data, we will first convert it into an instance of this class.
- All our calculations will be defined on instances of this class
- We should have output methods to convert the instances of this class to other useful output formats

## Structure

In [1]:
import sncosmo
import analyzeSN as ans

In [2]:
from analyzeSN import LightCurve

#### Instantiation

The class is instantiated using a constructor that has a mandatory input of a dataframe. and optional inputs. The dataframe must contain the light curve information, and the minimum set of columns required are:
`mjd`, `band`, `flux`, `flux_err`, `zp`, `zpsys` or recognized aliases. Here, we load some data and demonstrate this

In [3]:
ex_data = sncosmo.load_example_data().to_pandas()
ex_data.head()

           time   band      flux   fluxerr    zp zpsys
0  55070.000000  sdssg  0.363512  0.672844  25.0    ab
1  55072.051282  sdssr -0.200801  0.672844  25.0    ab
2  55074.102564  sdssi  0.307494  0.672844  25.0    ab
3  55076.153846  sdssz  1.087761  0.672844  25.0    ab
4  55078.205128  sdssg -0.436679  0.672844  25.0    ab

This was a SNCosmo example dataset, loaded into `pandas`. Note that the column representing temporal information is `time`. Now, we will use this to instantiate our class.

In [4]:
lc = LightCurve(ex_data)

Now, we can see the light curve by using the attribute `lightCurve` which outputs a dataFrame in our convention. We note that `time` has changed to our standard name `mjd`

In [5]:
lc.lightCurve.head()

            mjd   band      flux   fluxerr    zp zpsys
0  55070.000000  sdssg  0.363512  0.672844  25.0    ab
1  55072.051282  sdssr -0.200801  0.672844  25.0    ab
2  55074.102564  sdssi  0.307494  0.672844  25.0    ab
3  55076.153846  sdssz  1.087761  0.672844  25.0    ab
4  55078.205128  sdssg -0.436679  0.672844  25.0    ab

What would have happened if an essential column was missing? to check let us do the following:
   - We create a dataframe like the above, but remove the essential column band
   - We attempt to create an instance of the LightCurve class

In [6]:
lc_tmp = ex_data.copy()
del lc_tmp['band']
lc_tmp.head()

            mjd      flux   fluxerr    zp zpsys
0  55070.000000  0.363512  0.672844  25.0    ab
1  55072.051282 -0.200801  0.672844  25.0    ab
2  55074.102564  0.307494  0.672844  25.0    ab
3  55076.153846  1.087761  0.672844  25.0    ab
4  55078.205128 -0.436679  0.672844  25.0    ab

In [7]:
lc_bad = LightCurve(lc_tmp)

ValueError: ('light curve data has missing columns', set(['band']))

This raises a ValueError pointing out that the column `band` was missing. However, it correctly recognizes that while
`mjd` was missing, it had the aliased column `time` instead and did not report it missing.

To get back the SNCosmo light curve data

In [8]:
SNCosmoLC = lc.snCosmoLC()

In [9]:
SNCosmoLC

<Table length=40>
     time      band       flux         fluxerr        zp   zpsys
   float64     str5     float64        float64     float64  str2
------------- ----- --------------- -------------- ------- -----
      55070.0 sdssg   0.36351153597 0.672843847541    25.0    ab
55072.0512821 sdssr -0.200801295864 0.672843847541    25.0    ab
55074.1025641 sdssi  0.307494232981 0.672843847541    25.0    ab
55076.1538462 sdssz   1.08776103656 0.672843847541    25.0    ab
55078.2051282 sdssg  -0.43667895645 0.672843847541    25.0    ab
55080.2564103 sdssr   1.09780966779 0.672843847541    25.0    ab
55082.3076923 sdssi    3.7562685627 0.672843847541    25.0    ab
55084.3589744 sdssz   5.34858894966 0.672843847541    25.0    ab
55086.4102564 sdssg   2.82614187269 0.672843847541    25.0    ab
55088.4615385 sdssr   7.56547045054 0.672843847541    25.0    ab
          ...   ...             ...            ...     ...   ...
55131.5384615 sdssi   3.99520404021 0.672843847541    25.0    ab
55133.5897436 sdssz   5.73989458094 0.672843847541    25.0    ab
55135.6410256 sdssg  0.330702283107 0.672843847541    25.0    ab
55137.6923077 sdssr  0.565286726579 0.672843847541    25.0    ab
55139.7435897 sdssi   3.04318346795 0.672843847541    25.0    ab
55141.7948718 sdssz   5.62692686384 0.672843847541    25.0    ab
55143.8461538 sdssg -0.722654789013 0.672843847541    25.0    ab
55145.8974359 sdssr   1.12091764262 0.672843847541    25.0    ab
55147.9487179 sdssi    2.1246695264 0.672843847541    25.0    ab
      55150.0 sdssz    5.3482175645 0.672843847541    25.0    ab

## SNANA simulations

In [12]:
from analyzeSN import SNANASims

In [17]:
from astropy.table import Table

In [15]:
snana_eg = SNANASims.fromSNANAfileroot(snanafileroot='snana_fits', location='../analyzeSN/example_data/',
                                       coerce_inds2int=False)

In [25]:
Table.read(snana_eg.photFile)[45:50]

<Table length=5>
  MJD    FLT     FIELD          TELESCOPE       ...  ZEROPT ZEROPT_ERR   GAIN
float64  str2    str12            str20         ... float32  float32   float32
-------- ---- ------------ -------------------- ... ------- ---------- -------
53023.23   r  NULL         ALL                  ...     0.0        0.0     0.0
53026.27   i  NULL         ALL                  ...     0.0        0.0     0.0
53026.34   r  NULL         ALL                  ...     0.0        0.0     0.0
  -777.0   -  XXXX         XXXX                 ...     0.0        0.0     0.0
 52881.5   i  NULL         ALL                  ...     0.0        0.0     0.0

Let us look at what the array in the fits file looks like: 
- It has fields that are not of the standard name (FLUXCAL)
- It has things like "XXX" in he fields

In [30]:
lcInstance = snana_eg.get_SNANA_photometry(snid='03D1aw')

In [32]:
import analyzeSN

In [36]:
lcInstance.bandNameDict

{'Y': 'lsst_y',
 'g': 'lsst_g',
 'i': 'lsst_i',
 'r': 'lsst_r',
 'u': 'lsst_u',
 'z': 'lsst_z'}

In [37]:
lcInstance._lightCurve

,mjd,band,FIELD,TELESCOPE,PHOTFLAG,PHOTPROB,flux,fluxerr,MAG,MAGERR,...,PSF_SIG2,PSF_RATIO,SKY_SIG,SKY_SIG_T,RDNOISE,ZEROPT,ZEROPT_ERR,GAIN,zpsys,zp
0,52881.500,lsst_i,NULL,ALL,0,0.0,13.440000,2.846000,24.679001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
1,52881.539,lsst_r,NULL,ALL,0,0.0,7.740000,1.701000,25.278000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
2,52881.559,lsst_z,NULL,ALL,0,0.0,19.719999,6.539000,24.263000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
3,52886.602,lsst_i,NULL,ALL,0,0.0,44.520000,2.909000,23.379000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
4,52900.531,lsst_i,NULL,ALL,0,0.0,86.570000,2.914000,22.657000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
5,52900.559,lsst_r,NULL,ALL,0,0.0,62.169998,2.324000,23.016001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
6,52900.590,lsst_z,NULL,ALL,0,0.0,84.410004,8.752000,22.684000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
7,52904.531,lsst_i,NULL,ALL,0,0.0,80.720001,2.710000,22.733000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
8,52904.570,lsst_r,NULL,ALL,0,0.0,55.090000,2.009000,23.146999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
9,52908.559,lsst_r,NULL,ALL,0,0.0,54.500000,1.930000,23.159000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
10,52908.602,lsst_i,NULL,ALL,0,0.0,76.160004,2.932000,22.796000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
11,52909.609,lsst_z,NULL,ALL,0,0.0,81.099998,7.752000,22.726999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
12,52912.488,lsst_i,NULL,ALL,0,0.0,70.440002,2.866000,22.879999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
13,52914.570,lsst_r,NULL,ALL,0,0.0,42.810001,2.690000,23.421000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
14,52915.621,lsst_i,NULL,ALL,0,0.0,62.090000,3.366000,23.017000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
15,52916.461,lsst_r,NULL,ALL,0,0.0,38.060001,1.845000,23.549000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
16,52934.512,lsst_r,NULL,ALL,0,0.0,8.750000,3.558000,25.145000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
17,52937.512,lsst_i,NULL,ALL,0,0.0,23.530001,5.018000,24.070999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
18,52937.578,lsst_r,NULL,ALL,0,0.0,-0.060000,5.241000,666.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
19,52938.520,lsst_z,NULL,ALL,0,0.0,78.430000,24.221001,22.764000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
20,52942.488,lsst_i,NULL,ALL,0,0.0,19.780001,8.521000,24.260000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
21,52944.441,lsst_r,NULL,ALL,0,0.0,7.440000,3.887000,25.320999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
22,52944.469,lsst_z,NULL,ALL,0,0.0,10.470000,13.880000,24.950001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
23,52961.379,lsst_i,NULL,ALL,0,0.0,9.140000,3.233000,25.098000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
24,52961.480,lsst_r,NULL,ALL,0,0.0,4.840000,2.418000,25.789000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
25,52962.309,lsst_z,NULL,ALL,0,0.0,20.190001,5.934000,24.237000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
26,52964.320,lsst_i,NULL,ALL,0,0.0,9.600000,2.981000,25.044001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
27,52964.398,lsst_r,NULL,ALL,0,0.0,1.800000,2.409000,26.863001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
28,52964.441,lsst_z,NULL,ALL,0,0.0,6.420000,15.410000,25.481001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
29,52968.371,lsst_r,NULL,ALL,0,0.0,3.590000,2.250000,26.112000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
30,52972.270,lsst_i,NULL,ALL,0,0.0,-1.910000,3.710000,666.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
31,52990.262,lsst_i,NULL,ALL,0,0.0,7.550000,2.904000,25.305000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
32,52990.340,lsst_r,NULL,ALL,0,0.0,0.500000,1.987000,28.243999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
33,52992.250,lsst_i,NULL,ALL,0,0.0,4.020000,3.062000,25.989000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
34,52992.289,lsst_r,NULL,ALL,0,0.0,-2.430000,2.229000,666.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
35,52995.352,lsst_i,NULL,ALL,0,0.0,3.080000,3.076000,26.278999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
36,52995.391,lsst_r,NULL,ALL,0,0.0,0.450000,1.911000,28.358000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
37,52999.238,lsst_i,NULL,ALL,0,0.0,0.830000,2.948000,27.702000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
38,52999.281,lsst_r,NULL,ALL,0,0.0,0.720000,1.837000,27.851000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
39,52999.359,lsst_z,NULL,ALL,0,0.0,20.700001,11.553000,24.209999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
40,53000.238,lsst_z,NULL,ALL,0,0.0,8.660000,6.506000,25.156000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
41,53018.262,lsst_i,NULL,ALL,0,0.0,3.550000,2.804000,26.125000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
42,53018.309,lsst_r,NULL,ALL,0,0.0,-3.700000,2.257000,666.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
43,53022.289,lsst_i,NULL,ALL,0,0.0,2.410000,3.066000,26.542999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
44,53022.320,lsst_r,NULL,ALL,0,0.0,-0.010000,4.057000,666.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
45,53023.230,lsst_r,NULL,ALL,0,0.0,0.820000,1.756000,27.716999,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
46,53026.270,lsst_i,NULL,ALL,0,0.0,2.540000,2.877000,26.487000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5
47,53026.340,lsst_r,NULL,ALL,0,0.0,-3.100000,1.816000,666.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ab,27.5

# Scratch

In [10]:
10**(-0.4 * 0.27)

0.7798301105232587

In [11]:
-2.5 * np.log10(f)

NameError: name 'np' is not defined

In [3]:
10.0**(0.27 / 2.5 )

1.2823305826560216